.ngui-window.minimized {
    border-radius: 5px;
    transition: all 0.2s;
}
.ngui-window.minimized:hover {
    background: #5a6575;
}

.json-object, .json-array {
    margin-bottom: 5px;
}
.json-toggle {
    cursor: pointer;
    color: #007bff;
    user-select: none;
}
.json-toggle::before {
    content: '▶ ';
}
.json-item {
    margin-left: 20px;
}
.json-value {
    color: #333;
}

/* Splitter  */

.ngui-splitter {
  background: #ccc;
  cursor: col-resize;
}
.ngui-splitter:hover {
  background: #999;
}
.ngui-splitter.horizontal {
  cursor: row-resize;
}

    .colorFull {
      color: #cc1168 !important; /* Tailwind blue-600 */
    }


    #right-bottom {
      overflow: auto;
    }
    /* Grid-Layout: linker Bereich (Tree), splitter vertikal, rechter Bereich oben und unten mit horizontalem Splitter */
    #container {
      display: grid;
      grid-template-columns: 280px 5px 1fr;
      grid-template-rows: 170px 5px 1fr;
      height: 100vh;
      gap: 0;
    }



    /* Vertikaler Splitter zwischen Tree und rechter Seite */
    #splitter-vertical {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      background: #ddd;
      cursor: col-resize;
    }

    /* Rechter Bereich oben mit Rahmen unten und Padding */
    #right-top {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      border-bottom: 1px solid #ccc;
      overflow: auto;
      padding: 8px;
    }

    /* Horizontaler Splitter zwischen rechtem oberen und unteren Bereich */
    #splitter-horizontal {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      background: #ddd;
      cursor: row-resize;
    }

    /* Rechter Bereich unten mit Padding und Scroll */
    #right-bottom {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      overflow: auto;
      padding: 8px;
    }

